# Terraform state files (contain sensitive data)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform lock and modules
.terraform/

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# Terragrunt cache files
.terragrunt.lock.hcl
.terragrunt-cache

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# vscode extension and files
.vscode

# Omit kubecm.config
kubecm.config